<!-- <h1>{{audio$.fullname}}</h1> -->
<!-- bitrate: { type: Number, required: true },
    contentSize: { type: Number },
    contentURI: { type: String, required: true },
    location: { X: { type: Number }, Y: { type: Number } },
    encodingFormat: { type: String, required: true },
    uploadDate: { type: Date, required: true },
    duration: { type: Number, required: true },
    label: { type: String, required: true } -->
<ul>
  <!-- <li><strong>Bitrate:</strong>  {{audio$.fullname}}</li> -->
  <!-- <li><strong>Content Size:</strong>  {{audio$.contentSize}}</li> -->
  <!-- <li><strong>location</strong>{{audio.contentSize}}</li> -->
 <!--  <li><strong>Format:</strong>  {{audio$.encodingFormat}}</li>
  <li><strong>Uploaded:</strong>  {{audio$.uploadDate}}</li>
  <li><strong>Duration:</strong>  {{audio$.duration}}</li> -->
</ul>